---
import { getCollection } from 'astro:content'
import { groupByFolder, renderAll } from '../lib/sorter'
import '../../styles/katex.css'
import '../../styles/global.css'

const CLOSE_DETAIL_JS = "this.parentNode.parentNode.removeAttribute('open')"

const unrenderedPosts = (await getCollection('posts')).filter(
  (v) => v.data.draft === false,
)
const posts = await renderAll(unrenderedPosts)
const grouped = groupByFolder(posts)

const SITE_TITLE = 'Minimath'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body>
    <h1>{SITE_TITLE}</h1>
    <div style="padding-top:0px">
      with love from past <a href="https://github.com/nguyenvukhang">khang</a>
       to present everyone.
    </div>
    {
      Object.entries(grouped).map(([header, posts]) => (
        <>
          <h2>{header}</h2>
          {posts.map(({ Content, data, slug }) => (
            <details id={slug} open={data.open}>
              <summary class="node-title">{data.title}</summary>
              <div style="display:flex;flex-direction:row">
                <div class="expand-line" onclick={CLOSE_DETAIL_JS} />
                <div style="overflow:auto">
                  <Content />
                </div>
              </div>
            </details>
          ))}
        </>
      ))
    }
  </body>
</html>
