---
import { getCollection } from 'astro:content'
import { groupByFolder, renderAll } from '../lib/sorter'
import '../lib/katex.css'

const CLOSE_DETAIL_JS = "this.parentNode.parentNode.removeAttribute('open')"
const EXPAND_ALL_JS = `
const d=document.getElementsByTagName('details');
for(let i=0;i<d.length;i++)d[i].setAttribute('open',true)`
const CLOSE_ALL_JS = `
const d=document.getElementsByTagName('details');
for(let i=0;i<d.length;i++)d[i].removeAttribute('open')`

const unrenderedPosts = (await getCollection('posts')).filter(
  (v) => v.data.draft === false,
)
const posts = await renderAll(unrenderedPosts)
const grouped = groupByFolder(posts)

const SITE_TITLE = 'Minimath'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body>
    <h1>{SITE_TITLE}</h1>
    <div style="padding-top:0px">
      with love from past <a href="https://github.com/nguyenvukhang">khang</a>
       to present everyone.
    </div>
    <div style="display:flex;flex-direction:row;margin:1rem 0rem;">
      <button onclick={EXPAND_ALL_JS}>expand all</button>
      <div style="width: 0.5rem"></div>
      <button onclick={CLOSE_ALL_JS}>close all</button>
    </div>
    {
      Object.entries(grouped).map(([header, posts]) => (
        <>
          <h2>{header}</h2>
          {posts.map(({ Content, data, slug }) => (
            <details id={slug} open={data.open}>
              <summary class="node-title">{data.title}</summary>
              <div style="display:flex;flex-direction:row">
                <div class="expand-line" onclick={CLOSE_DETAIL_JS} />
                <div style="overflow-x:auto">
                  <Content />
                </div>
              </div>
            </details>
          ))}
        </>
      ))
    }
  </body>
</html>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
  }
  summary,
  .expand-line {
    cursor: pointer;
  }
  .expand-line {
    background-clip: content-box;
    width: 3px;
    min-width: 3px;
    padding: 0 0.4rem 0 0.4em;
    margin: 0 0.4rem 0 -0.4em;
    background-color: #cccccc;
  }
  .expand-line:hover {
    background-color: #aaaaaa;
  }
  a,
  .node-title:hover {
    color: #3b82f6;
  }
</style>
