---
import { CollectionEntry, getCollection } from 'astro:content'

const posts = await getCollection('posts')
type PostProps = CollectionEntry<'posts'>

const renders = await Promise.all(posts.map((v) => v.render()))
const content = posts
  .map(({ render, ...v }, i) => ({
    Content: renders[i].Content,
    ...v,
  }))
  .filter((v) => v.data.draft === false)
content.sort((a, b) => a.data.title.localeCompare(b.data.title))
console.log(content)

const SITE_TITLE = 'Minimath'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>

    <!-- START: Katex import -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
      crossorigin="anonymous"
    />

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
      integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
      crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
      integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
      crossorigin="anonymous"></script>

    <!-- END: Katex import -->

    <!-- START: Katex configuration -->

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const delimiters = [
          { left: '$$', right: '$$', display: true },
          { left: '$', right: '$', display: false },
        ]
        const macros = {
          '\\norm': '\\lVert{#1}\\rVert',
        }
        renderMathInElement(document.body, {
          macros,
          delimiters,
          throwOnError: false,
        })
      })
    </script>

    <!-- END: Katex configuration -->
  </head>
  <body>
    <h1>{SITE_TITLE}</h1>
    <p>
      with love from past <a href="https://github.com/nguyenvukhang">khang</a>
       to present everyone.
    </p>
    {
      content.map(({ Content, data, slug }) => (
        <details id={slug} open={data.open}>
          <summary>
            <span class="node-title">{data.title}</span>
          </summary>
          <Content />
        </details>
      ))
    }
  </body>
</html>

<style>
  details {
    cursor: pointer;
  }

  summary > span:hover {
    color: #3b82f6;
  }
</style>
