---
import { getCollection } from 'astro:content'
import { groupByFolder, renderAll } from '../lib/sorter'
import '../lib/katex.css'

const CLOSE_DETAIL_JS = "this.parentNode.parentNode.removeAttribute('open')"
const EXPAND_ALL_JS = `const d=document.getElementsByTagName('details');for(let i=0;i<d.length;i++)d[i].setAttribute('open',true)`
const CLOSE_ALL_JS = `const d=document.getElementsByTagName('details');for(let i=0;i<d.length;i++)d[i].removeAttribute('open')`

const unrenderedPosts = await getCollection('posts')
const posts = await renderAll(unrenderedPosts)
const grouped = groupByFolder(posts)

const SITE_TITLE = 'Minimath'
const IS_DEVELOPMENT = import.meta.env.DEV
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="markdown-body">
    <h1>{SITE_TITLE}</h1>

    <p>with love from past khang to present everyone.</p>
    <code style="font-size:small">
      <a href="https://www.github.com/nguyenvukhang/math">source</a>
      {' | '}
      <a href="https://www.nguyenvukhang.com">my website</a>
      {' | '}
      <a href="https://www.linkedin.com/in/khang-nguyen-746a86204/">linkedin</a>
    </code>

    <div style="display:flex;flex-direction:row;margin:1rem 0rem;">
      <button onclick={EXPAND_ALL_JS}>expand all</button>
      <div style="width: 0.5rem"></div>
      <button onclick={CLOSE_ALL_JS}>close all</button>
    </div>

    {
      grouped.map(([header, posts]) => (
        <>
          <h2>{header}</h2>
          {posts.map(({ Content, data, href }) => (
            <details id={href} open={data.open}>
              <summary>{data.title}</summary>
              <div style="display:flex;flex-direction:row">
                <div class="expand-line" onclick={CLOSE_DETAIL_JS} />
                <div style="overflow-x:auto">
                  {!IS_DEVELOPMENT ? null : (
                    <button onclick={`location.href='#${href}'`}>focus</button>
                  )}
                  <Content />
                </div>
              </div>
            </details>
          ))}
        </>
      ))
    }
  </body>
</html>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
  }
  ul,
  ol {
    margin-top: 0px;
  }
  p {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
  }
  .markdown-body {
    word-wrap: break-word;
  }
  summary,
  .expand-line {
    cursor: pointer;
  }
  .expand-line {
    background-clip: content-box;
    width: 3px;
    min-width: 3px;
    padding: 0 0.4rem 0 0.4em;
    margin: 0 0.4rem 0 -0.4em;
    background-color: #cccccc;
  }
  .expand-line:hover {
    background-color: #aaaaaa;
  }
  a {
    color: #3b82f6;
  }
</style>
