---
import { getCollection } from 'astro:content'
import { groupByFolder, renderAll } from '../lib/sorter'
import '../lib/katex.css'
import '../lib/styles.css'

const CLOSE_DETAIL_JS = "this.parentNode.parentNode.removeAttribute('open')"
const EXPAND_ALL_JS = `const d=document.getElementsByTagName('details');for(let i=0;i<d.length;i++)d[i].setAttribute('open',true)`
const CLOSE_ALL_JS = `const d=document.getElementsByTagName('details');for(let i=0;i<d.length;i++)d[i].removeAttribute('open')`

const unrenderedPosts = await getCollection('posts')
const posts = await renderAll(unrenderedPosts)
const grouped = groupByFolder(posts)

const SITE_TITLE = 'Minimath'
const YEAR = new Date().getFullYear()
const IS_DEV = import.meta.env.DEV
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>

    <!-- Opens the details/summary section upon navigating to it -->
    <!-- <script>
      window.addEventListener('hashchange', () => {
        const hash = location.hash.substring(1)
        if (!hash) return
        const x = document.getElementById(hash)
        if (x) x.parentNode.setAttribute('open', true)
      })
    </script> -->
  </head>
  <body>
    <h1>{SITE_TITLE}</h1>
    <p>with love from past khang to present everyone.</p>
    <p>also, hi yiran :)</p>
    <code style="font-size:small">
      <a href="https://www.github.com/nguyenvukhang/math">source</a>
      {' | '}
      <a href="https://www.nguyenvukhang.com">my website</a>
      <!-- {' | '} -->
      <!-- <a href="https://www.linkedin.com/in/khang-nguyen-746a86204/">linkedin</a> -->
    </code>
    <div style="display:flex;flex-direction:row;margin:1rem 0rem;">
      <button onclick={EXPAND_ALL_JS}>expand all</button>
      <div style="width:0.5rem"></div>
      <button onclick={CLOSE_ALL_JS}>close all</button>
      {
        IS_DEV ? (
          <>
            <div style="width:0.5rem" />
            <button onclick="location.href='#mark'">go to mark</button>
          </>
        ) : null
      }
    </div>
    {
      grouped.map(([header, posts]) => (
        <>
          <h2>{header}</h2>
          {posts.map(({ Content, data, href }) => (
            <details id={data.draft ? 'mark' : null} open={data.open}>
              <summary id={href}>{data.title}</summary>
              <div style="display:flex;flex-direction:row">
                <div class="expand-line" onclick={CLOSE_DETAIL_JS} />
                <div class="content">
                  <Content />
                </div>
              </div>
            </details>
          ))}
        </>
      ))
    }
    <div style="margin:10px 0;">
      <code>---</code>
    </div>
    <p style="margin-bottom:32px">Khang, {YEAR}</p>
    <!-- START: a tall vertical bar so that all ID href links align -->
    {
      IS_DEV ? (
        <div style="height:999px;width:2px;background-color:#ec4899" />
      ) : null
    }
    <!-- END: a tall vertical bar so that all ID href links align -->
  </body>
</html>
